/* -------------------------------------------*/
/* --------->>> Navigation Bar <<<-----------*/
/* -----------------------------------------*/

/* Espaço entre a página e o header */
header.header{
	padding-bottom: 3rem;
}

/* Fundo da navbar */
header .navbar{
	padding: 0;
	background: rgba(0,0,0,0.4);
	z-index: 40;
	transition: all 0.3s;
}

/* Logo Escrita (parte branca) */
.navbar-brand h1{
	font-family: 'Tiro Devanagari Hindi', serif;
	font-weight: normal;
	transition: all 0.3s;
	color: #fff;
	margin: 0;
}

/* Logo Escrita (parte verde) */
.navbar-brand h1 span{
	color: #18d26e;
}

header .navbar-collapse.collapse{
	-webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


.navbar .navbar-nav .nav-item{
	padding: 40px 6px 36px;
	transition: all 0.3s;
}

/* Links inativo */
.navbar .navbar-nav .nav-link{
	padding: 4px 10px;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	transition: all 0.3s;
}

/* Link ativo (de acordo com a parte da página) */
.navbar .navbar-nav .nav-link.active{
	background: none;
	color: #18d26e;
}

/* Hover do link inativo */
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
	color: #18d26e;
}

/* Hover do link ativo */
.navbar .navbar-nav .nav-link.active:hover,
.navbar .navbar-nav .nav-link.active:focus{
	color: #fff;
}

/* Fundo Navbar durante o Scroll */
header .navbar.navbar-fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.9);
}

/* Espaçamento da Navbar durante o scroll */
.navbar-fixed .navbar-nav .nav-item{
	padding: 23px 6px;
}



/* -------------------------------------------*/
/* -------->>> Navbar no mobile <<<----------*/
/* -----------------------------------------*/

/* Posição do Botão */
.navbar-toggle{
	display: none;
	position: absolute;
	top: 15px;
	right: 15px;
}

/* Espaçamento do Botão */
.navbar-toggle .slicknav_btn{
	background: none;
	border: none;
	border-radius: 0;
}

/* Espaçamento do Ícone */
.navbar-toggle .slicknav_icon-bar{
	background: none;
	box-shadow: none;
	height: 1px;
	margin-top: 2px;
	margin-bottom: 4px;
}

/* Ícone*/
.slicknav_icon:before {
    background: transparent;
    width: 1.125em;
    height: 0.875em;
    display: block;
    color: #fff;
    font-size: 25px;
    font-family: 'FontAwesome';
    content: '\f0ca';
    position: absolute;
}

/* Botão */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222;
}

/* Menu que desce */
.slicknav_menu{
	padding: 0;
	background: #000000b0;
}

/* Opções */
.slicknav_nav a{
	color: #fff;
	padding: 8px 0;
	text-transform: uppercase;
}

/* Hover das opções */
.slicknav_nav a:hover{
	background: none;
	color: #18d26e;
}



/* -------------------------------------------*/
/* -------->>> Adaptar resolução <<<---------*/
/* -----------------------------------------*/

@media only screen and (max-width: 991px){
	.header .navbar-nav{
		display: none;
	}
	
	.header .navbar{
		align-items: flex-start;
	}
	
	.navbar-brand{
		padding: 13px 0;
	}
	
	.header .navbar .container{
		position: relative;
		flex-wrap: wrap;
	}
	
	.header .navbar-toggle,
	#responsive-menu{
		display: block;
		width: 100%;
	}
}

@media only screen and (max-width: 575px){
	
	.header .container{
		width: 100%;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}