/* --------------------------------*/
/* --------->>> Sobre <<----------*/
/* ------------------------------*/

.about-txt {
	position: relative;
	background: var(--border-gradient-onyx);
	padding: 25px;
	padding-bottom: 5px;
	border-radius: 14px;
	box-shadow: var(--shadow-2);
	z-index: 1;
}

.about-txt #about-txt-title {
	color: #fff;
	font-family: 'Poppins', serif;
}

.about-txt::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: var(--bg-gradient-jet);
	border-radius: inherit;
	z-index: -1;
}

.about-txt p{
	text-align: justify;
}

.about-sect {
	padding: 100px 0;
}

.about-img {
	margin-top: 60px;
}



/* ------------------------------------*/
/* --------->>> Parcerias <<----------*/
/* ----------------------------------*/

.fansubs-sect {
	padding: 40px 0;
}

.fansub-img {
	position: relative;
	margin-bottom: 22px;
}

.fansub-links {
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: -21px;
	display: inline-block;
	background: var(--onyx);
	text-align: center;
	padding: 10px 10px 8px;
	border-radius: 4px;
	box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.3);
}

.fansub-links a {
	display: inline-block;
	color: #fff;
	margin: 0 4px;
	transition: all 0.3s;
}

.fansub-links a:hover {
	color: #09db92;
}

.fansub-name {
	padding: 20px 0;
}

.fansub-name h3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1px;
	letter-spacing: 2px;
	text-align: center;
	margin: 20;
	font-family: 'Poppins', sans-serif;
}

.fansub-name p {
	color: #707070;
	margin: 0;
}

.fansub-img img {
	border-radius: 30px;
}


/* Fundo da fansub parceira */
.fansub {
	position: relative;
	background: var(--border-gradient-onyx);
	padding: 20px;
	padding-bottom: 5px;
	margin-left: 15px;
	border-radius: 14px;
	box-shadow: var(--shadow-2);
	z-index: 1;
}

.fansub::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: var(--bg-gradient-jet);
	border-radius: inherit;
	z-index: -1;
}



/* ---------------------------------------------*/
/* --------->>> Adaptar para telas <<----------*/
/* -------------------------------------------*/

@media only screen and (max-width: 991px) {
	.about-sect {
		padding: 20px 0;
	}

	.fansubs-sect {
		padding: 60px 0 30px;
	}

	.section-title {
		margin-bottom: 40px;
	}

	.fansub {
		margin-bottom: 30px;
		margin-right: 20px;
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {

	.about-img {
		margin-bottom: 1rem;
		margin-left: 0;
		text-align: center;
	}
}