/* -------------------------------------------*/
/* ------->>> Página de Changelog <<<--------*/
/* -----------------------------------------*/


/* Fundo da página e textos gerais */
body {
	background: var(--smoky-black);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #707070;
}


/* Página */
.changes {
	margin-left: 0px;
	padding-bottom: 4rem;
	padding-top: 30px;
}

/* Título de Cima */
.changes-title h2 {
	margin: 6rem 0 20px 0px;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
	color: #aaaaaa;
	line-height: 1px;
	letter-spacing: 2px;
}

/* Linha ao lado */
.changes-title h2::after {
	content: "";
	display: inline-block;
	width: 120px;
	height: 1px;
	margin: 4px 10px;
	background: var(--text-gradient-green);
}

/* Título de Baixo */
.changes-title p {
	margin: 0;
	margin: -15px 0 30px 0px;
	font-family: 'Tiro Devanagari Hindi', serif;
	font-size: 36px;
	color: #fff;
}



/* -------------------------------------------*/
/* --------->>> Linha do Tempo <<<-----------*/
/* -----------------------------------------*/

/* Seção */
.changes .row {
	padding-left: 0.7rem;
}

/* Linha */
.changes .changes-item {
	position: relative;
	margin-top: -2px;
	padding: 0 0 20px 20px;
	border-left: 2px solid var(--jet);
}

/* Pontos */
.changes .changes-item::after {
	content: "";
	position: absolute;
	left: -7px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: var(--text-gradient-green);
	box-shadow: 0 0 0 4px var(--jet);
}

/* Nome da Versão */
.changes .changes-item h4 {
	margin-bottom: 10px;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #4ceb95;
	line-height: 18px;
}

/* Data */
.changes .changes-item h5 {
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 15px;
	border-radius: 5px;
	background-color: #222;
	font-size: 16px;
	font-weight: normal;
	color: white;
}

/* Mudanças */
.changes .changes-item ul {
	padding-left: 20px;
}

.changes .changes-item ul li {
	padding-bottom: 10px;
}

.changes .changes-item:last-child {
	padding-bottom: 0;
}



/* -------------------------------------------*/
/* ---------->>> Cores padrão <<<------------*/
/* -----------------------------------------*/

:root {
	
	/* Degradê */
	--text-gradient-green: linear-gradient(to right,#1D976C,#93F9B9);
	/* Cor */
	--jet: hsl(0, 0%, 22%);
	--smoky-black: hsl(0, 0%, 7%);
}