/* -------------------------------------------*/
/* -------------->>> Geral <<<---------------*/
/* -----------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  color: #707070;
  background-color: #000;
}



/* -------------------------------------------*/
/* --------------->>> Hero <<<---------------*/
/* -----------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: url("/img/hero-bg.webp") top right no-repeat;
  background-color: black !important;
  background-size: cover;
  position: relative;
}

/* Adaptar resolução */
@media only screen and (max-width: 767px) {
  #hero {
    background: url("/img/hero-bg.webp") top left no-repeat;
    background-position-x: -700px;
  }
}

@media (min-width: 992px) {
  #hero {
    padding-left: 30px;
  }
}

/* "Neet" */
#hero h1 {
  margin: 0;
  font-size: 64px;
  line-height: 56px;
  color: #fff;
  font-family: var(--font-2);
}

/* "Projects" */
#hero h1 span {
  color: var(--ng-1);
}

/* "Uma fansub" */
#hero p {
  color: #707070;
  margin-top: 25px;
  font-size: 24px;
  font-family: 'PT Mono', monospace;
}

/* Texto digitado */
#hero p span {
  color: var(--ng-1);
  letter-spacing: 1px;
}

/* Adaptar resolução */
@media only screen and (max-width: 767px) {
  #hero p {
    margin: 20px 0 0 0 !important;
    font-size: 18px !important;
    text-align: center !important;
  }

  #hero h1 {
    font-size: 50px !important;
  }
}

/* Links */
#hero .links {
  margin-top: 20px;
}

/* Links (Texto) */
#hero .links a {
  font-size: 24px;
  display: inline-block;
  color: #707070;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

/* Links ao passar o mouse */
#hero .links a:hover {
  color: var(--ng-1);
}

/* Adaptar resolução */
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}



/* -------------------------------------------*/
/* -------->>> Links das Páginas <<----------*/
/* -----------------------------------------*/

/* Páginas (Espaço) */
.pages {
  padding: 0;
  margin-top: 20px;
}

/* Páginas (Lista) */
.pages ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

/* Páginas (Items) */
.pages li {
  position: relative;
}

/* Páginas (Espaço dos itens) */
.pages li+li {
  margin-left: 30px;
}

/* Texto */
.pages a,
.pages a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: var(--font-1);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffffb3;
  white-space: nowrap;
  transition: 0.3s;
}

/* Ativar barra ao passar o mouse */
.pages a:hover:before,
.pages li:hover>a:before,
.pages .active:before {
  visibility: visible;
  width: 25px;
}

/* Barra em baixo do texto */
.pages a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--ng-3);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

/* Mudar a cor do texto ao passar o mouse */
.pages a:hover,
.pages .active,
.pages .active:focus,
.pages li:hover>a {
  color: #fff;
}

/* Adaptar resolução */
@media (max-width: 992px) {
  .pages {
    display: inline-block;
    position: relative;
    text-align: center;
  }
}