/* -------------------------------------------*/
/* -------------->>> Geral <<<---------------*/
/* -----------------------------------------*/

/* Fundo da página e textos gerais */
body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background: #000;
	color: #707070;
}



/* -------------------------------------------*/
/* -------->>> Botão de Download <<<---------*/
/* -----------------------------------------*/

/* Normal */
.btn-download {
	display: inline-block;
	border: 2px solid #fff;
	padding: 14px 30px;
	border-radius: 4px;
	color: #fff;
	transition: all 0.3s;
}

/* Com mouse */
.btn-download:hover {
	border-color: #4ceb95;
	color: #4ceb95;
	text-decoration: none;
}

/* Adaptar resolução */
@media only screen and (max-width: 767px) {
	.btn-download {
		display: block;
		align-content: center;
		text-align: center;
	}
}




/* -------------------------------------------*/
/* --------->>> Caixa do Projeto <<----------*/
/* -----------------------------------------*/

/* Caixa */
.box {
	padding-top: 3rem;
}

/* Corpo da caixa */
.project-box {
	padding: 3rem 1.25rem;
	position: relative;
	background-color: #111;
	border: 1px solid #333;
	margin-bottom: 3rem;
	z-index: 2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/* Ajustar resolução */
@media (min-width: 768px) {
	.project-box {
		padding: 3rem;
	}
}

/* Capa do Projeto */
.project-sect .project-img img {
	margin-bottom: 0;
	margin-left: 0;
}

/* Espaçamento */
.project-sect .project-box {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* Adaptar resolução */
@media only screen and (max-width: 767px) {
	.project-sect .project-box {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
	.project-sect .project-img img {
		margin-bottom: 1rem;
		margin-left: 0;
	}
}

/* -------------------------------------------*/
/* ------------->>> Títulos <<<--------------*/
/* -----------------------------------------*/

/* "Projeto" */
.section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

/* Barra ao lado do "Projeto" */
.section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #4ceb95;
	margin: 4px 10px;
}

/* Evitar algum erro */
.section-title:after {
	content: "";
	display: block;
	width: 0px;
	margin-left: -30px;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	border-bottom: transparent !important;
}

/* Nome do Projeto */
.section-title p {
	margin: 0;
	margin: -15px 0 15px 15px;
	font-size: 36px;
	font-family: 'Tiro Devanagari Hindi', serif;
	color: #fff;
}

/* Alinhar e evitar espaços */
.section-title {
	text-align: left;
	padding-bottom: 0;
	margin-bottom: 0;
	position: relative;
}

/* Detalhes do Projeto */
.project-info .title-s {
	font-weight: 600;
	color: #18d26e;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
}



/* -------------------------------------------*/
/* ------------->>> Sinopse <<<--------------*/
/* -----------------------------------------*/

/* Texto da Sinopse */
.project-sinop .sinopse {
	text-align: justify;
	font-size: 18px;
	color: #707070;
}



/* -------------------------------------------*/
/* ------------>>> Progresso <<<-------------*/
/* -----------------------------------------*/

/* Espaçamento */
.progress-area {
	padding-top: 1rem;
}

/* Título */
.progress-area .title-s {
	font-size: 16px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

/* Barra ao lado do título */
.progress-area .title-s::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #4ceb95;
	margin: 4px 10px;
}

/* Textos das Barras */
.progress-area span {
	color: #fff;
}

/* Porcentagem */
.progress-area .pull-right {
	float: right;
}

/* Barra */
.progress-area .progress .progress-bar {
	height: 0.7rem;
	background-color: #18d26e;
	border-radius: 0px;
}

/* Fundo da Barra */
.progress-area .progress {
	background-color: #333333;
	margin: 0.5rem 0 1.2rem 0;
	border-radius: 100px;
	height: 0.7rem;
}