/* -------------------------------------------*/
/* -------------->>> Geral <<<---------------*/
/* -----------------------------------------*/

/* Fundo da página e textos gerais */
body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background: #000;
	color: #707070;
}

/* Texto da sinopse */
.sinopse {
	text-align: justify;
	font-size: 18px;
	color: #707070;
}



/* -------------------------------------------*/
/* -------->>> Botão de Download <<<---------*/
/* -----------------------------------------*/

/* Normal */
.btn-download {
	display: inline-block;
	border: 2px solid #fff;
	padding: 14px 30px;
	border-radius: 4px;
	color: #fff;
	transition: all 0.3s;
}

/* Com mouse */
.btn-download:hover {
	border-color: #4ceb95;
	color: #4ceb95;
}



/* -------------------------------------------*/
/* ------------->>> Títulos <<<--------------*/
/* -----------------------------------------*/

/* Detalhes e Progesso */
.title-s {
	font-weight: 600;
	color: #18d26e;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
}



.section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

.section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #4ceb95;
	margin: 4px 10px;
}

.section-title:after {
	content: '';
	display: block;
	width: 0px;
	margin-left: -30px;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	border-bottom: transparent !important;
}



.section-title p {
	margin: 0;
	margin: -15px 0 15px 15px;
	font-size: 36px;
	/**font-weight: 700;**/
	/**text-transform: uppercase;**/
	font-family: 'Tiro Devanagari Hindi', serif;
	color: #fff;
}

.section-title {
	text-align: left;
	padding-bottom: 0px;
	margin-bottom: 0px;
	position: relative;
}



/* -------------------------------------------*/
/* ------------->>> Sinopse <<<--------------*/
/* -----------------------------------------*/

/* Título */
.title-left {
	font-size: 2rem;
	position: relative;
	color: #4ceb95;
}

/* Barra em baixo do título */
.title-left:before {
	content: "";
	position: absolute;
	height: 3px;
	background-color: #fff;
	width: 100px;
	bottom: -12px;
}

/* Espaço em baixo */
.title-box-2 {
	margin-bottom: 3rem;
}



/***************************************/
/*****     CAIXA DO PROJETO         ****/
/***************************************/


.box-pl2 {
	padding-left: 2rem;
}

.box-shadow,
.card-blog,
.work-box,
.service-box,
.paralax-mf {
	box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
	text-decoration: none;
	box-shadow: 0 0 0 4px #cde1f8;
}


.table-cell {
	display: table-cell;
	vertical-align: middle;
}

/*--/ Sections /--*/
.sect-4 {
	padding: 4rem 0;
}

.sect-pt4 {
	padding-top: 4rem;
}

.sect-mt4 {
	margin-top: 4rem;
}

.box-shadow-full {
	padding: 3rem 1.25rem;
	position: relative;
	background-color: #111;
	border: 1px solid #333;
	margin-bottom: 3rem;
	z-index: 2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
	.box-shadow-full {
		padding: 3rem;
	}
}




/*--------------------------------------------------------------
# PROGRESSO
--------------------------------------------------------------*/

/* FOTO */
.project-sect .box-shadow-full {
	padding-top: 4rem;
	padding-bottom: 4rem;
}




.project-sect .project-img {
	margin-bottom: 2rem;
}



.project-sect .project-img img {
	margin-left: 0px;
}


@media (min-width: 767px) {
	.project-sect .box-pl2 {
		margin-top: 3rem;
		padding-left: 0rem;
	}
}





/* Textos das Barras */
.progress-area span {
	color: #fff;
}

/* Porcentagem */
.progress-area .pull-right {
	float: right;
}

/* "Progresso" */
.progress-area .title-s {
	font-size: 16px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

.progress-area .title-s::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #4ceb95;
	margin: 4px 10px;
}


/* Fundo da Barra */
.progress-area .progress {
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0.5rem 0 1.2rem 0;
	border-radius: 100px;
	height: 0.7rem;
}

/* Barra */
.progress-area .progress .progress-bar {
	height: 0.7rem;
	background-color: #18d26e;
	border-radius: 0px;
}


.progress-area {
	padding-top: 1rem;
}