/* -------------------------------------------*/
/* -------------->>> Geral <<<---------------*/
/* -----------------------------------------*/

/* Fundo da página e textos gerais */
body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background: var(--smoky-black);
	color: #707070;
}



/* -------------------------------------------*/
/* -------->>> Botão de Download <<<---------*/
/* -----------------------------------------*/

/* Normal */
.btn-download {

	color: var(--white-1);
	background: var(--onyx);
	padding: 14px 30px;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s;
}

/* Com mouse */
.btn-download:hover {
	color: #09db92 !important;
	text-decoration: none;
}

/* Adaptar resolução */
@media only screen and (max-width: 767px) {
	.btn-download {
		display: block;
		align-content: center;
		text-align: center;
	}
}



/* -------------------------------------------*/
/* --------->>> Caixa do Projeto <<----------*/
/* -----------------------------------------*/

/* Caixa */
.box {
	padding-top: 4rem;
}

/* Corpo da caixa */
.project-box {
	padding: 3rem 1.25rem;
	position: relative;
	background: var(--eerie-black-2);
	border: 1px solid var(--jet);
	box-shadow: var(--shadow-1);
	border-radius: 5px;
	margin-bottom: 3rem;
	z-index: 2;
}

/* Ajustar resolução */
@media (min-width: 768px) {
	.project-box {
		padding: 3rem;
	}
}

/* Capa do Projeto */
.project-sect .project-img img {
	margin-bottom: 25px;
	margin-left: 10px;
	box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.3);
}

/* Espaçamento */
.project-sect .project-box {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* Adaptar resolução */
@media only screen and (max-width: 767px) {
	.project-sect .project-box {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	.project-sect .project-img img {
		margin-bottom: 1rem;
		margin-left: 0;
	}
}

/* -------------------------------------------*/
/* ------------->>> Títulos <<<--------------*/
/* -----------------------------------------*/

/* "Projeto" */
.section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

/* Barra ao lado do "Projeto" */
.section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: var(--text-gradient-green);
	margin: 4px 10px;
}

/* Evitar algum erro */
.section-title:after {
	content: "";
	display: block;
	width: 0px;
	margin-left: -30px;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	border-bottom: transparent !important;
}

/* Nome do Projeto */
.section-title p {
	margin: 0;
	margin: -15px 0 15px 15px;
	font-size: 36px;
	font-family: 'Tiro Devanagari Hindi', serif;
	color: #fff;
}

/* Alinhar e evitar espaços */
.section-title {
	text-align: left;
	padding-bottom: 0;
	margin-bottom: 0;
	position: relative;
}

/* Detalhes do Projeto */
.project-info .title-s {
	color: #09db92;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
}



/* -------------------------------------------*/
/* ------------->>> Sinopse <<<--------------*/
/* -----------------------------------------*/

/* Texto da Sinopse */
.project-sinop .sinopse {
	text-align: justify;
	font-size: 18px;
	color: #707070;
}



/* -------------------------------------------*/
/* ------------>>> Progresso <<<-------------*/
/* -----------------------------------------*/

/* Espaçamento */
.progress-area {
	position: relative;
	background: var(--border-gradient-onyx);
	padding: 25px;
	padding-bottom: 5px;
	border-radius: 14px;
	box-shadow: var(--shadow-2);
	z-index: 1;
}

.progress-area::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: var(--bg-gradient-jet);
	border-radius: inherit;
	z-index: -1;
}

/* Título */
.progress-area .title-s {
	font-size: 16px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

/* Barra ao lado do título */
.progress-area .title-s::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: var(--text-gradient-green);
	margin: 4px 10px;
}


@media only screen and (max-width: 767px) {
	.progress-area .title-s::after {
		content: "";
		width: 100px;
		height: 1px;
		display: inline-block;
		background: var(--text-gradient-green);
		margin: 4px 10px;
	}
}

/* Textos das Barras */
.progress-area span {
	color: #fff;
}

/* Porcentagem */
.progress-area .pull-right {
	float: right;
}

/* Barra */
.progress-area .progress .progress-bar {
	height: 0.6rem;
	background: var(--text-gradient-green);
	border-radius: 100px;
}

/* Fundo da Barra */
.progress-area .progress {
	background-color: #333333;
	margin: 0.5rem 0 1.2rem 0;
	border-radius: 100px;
	height: 0.6rem;
}



/* -------------------------------------------*/
/* ---------->>> Cores padrão <<<------------*/
/* -----------------------------------------*/

:root {

	/* Degradê */
	--bg-gradient-jet: linear-gradient(to bottom right,
			hsla(240, 1%, 18%, 0.251) 0%,
			hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
	--border-gradient-onyx: linear-gradient(to bottom right,
			hsl(0, 0%, 25%) 0%,
			hsla(0, 0%, 25%, 0) 50%);
	--text-gradient-green: linear-gradient(to right,
			#1D976C,
			#93F9B9);

	/* Cores */
	--jet: hsl(0, 0%, 22%);
	--onyx: hsl(240, 1%, 17%);
	--eerie-black-2: hsl(240, 2%, 12%);
	--smoky-black: hsl(0, 0%, 7%);
	--white-1: hsl(0, 0%, 100%);

	/* Sombra */
	--shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);

}