/* -------------------------------------------*/
/* -------------->>> Geral <<<---------------*/
/* -----------------------------------------*/

/* Fundo da página e textos gerais */
body {
	font-size: 16px;
	font-family: var(--font-3);
	background: var(--smoky-black);
	color: #707070;
}



/* -------------------------------------------*/
/* -------->>> Botão de Download <<<---------*/
/* -----------------------------------------*/

/* Normal */
.btn-download {
	color: #fff;
	background: var(--onyx);
	padding: 14px 95px;
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-block;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

/* Com mouse */
.btn-download:hover {
	color: #fff !important;
	text-decoration: none !important;
	background: var(--ng-2) !important;
	box-shadow: 0 0 30px 0 var(--ng-2) !important;
}

/* Adaptar resolução */
@media only screen and (max-width: 767px) {
	.btn-download {
		display: block;
		align-content: center;
		text-align: center;
	}
}



/* -------------------------------------------*/
/* --------->>> Caixa do Projeto <<----------*/
/* -----------------------------------------*/

/* Caixa */
.box {
	padding-top: 4rem;
}

/* Corpo da caixa */
.project-box {
	padding: 3rem 1.25rem;
	position: relative;
	background: var(--eerie-black-2);
	border: 1px solid var(--jet);
	box-shadow: var(--shadow-1);
	border-radius: 5px;
	margin-bottom: 3rem;
	z-index: 2;
}

/* Ajustar resolução */
@media (min-width: 768px) {
	.project-box {
		padding: 3rem;
	}
}

/* Capa do Projeto */
.project-sect .project-img img {
	/*margin-bottom: 25px;*/
	margin-left: 0px;
	box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.3);
}

/* Espaçamento */
.project-sect .project-box {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* Adaptar resolução */
@media only screen and (max-width: 767px) {
	.project-sect .project-box {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	.project-sect .project-img img {
		margin-left: 0;
	}
}



/* -------------------------------------------*/
/* ------------->>> Títulos <<<--------------*/
/* -----------------------------------------*/

/* "Projeto" */
.section-title h2 {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	text-align: left;
	font-family: var(--font-1);
}

/* Barra ao lado do "Projeto" */
.section-title h2::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: var(--text-gradient-green);
	margin: 4px 10px;
}

/* Evitar que a barra fique em baixo em telas menores  */
@media only screen and (max-width: 767px) {
    .section-title h2::after {
        margin: -12px 87px 4px;
    }
}

/* Evitar algum erro */
.section-title:after {
	content: "";
	display: block;
	width: 0px;
	margin-left: -30px;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	border-bottom: transparent !important;
}

/* Nome do Projeto */
.section-title p {
	margin: 0;
	margin: -15px 0 0px 15px;
	font-size: 36px;
	font-family: var(--font-2);
	color: #fff;
}

/* Alinhar e evitar espaços */
.section-title {
	text-align: left;
	padding-bottom: 0;
	margin-bottom: 0;
	position: relative;
}

/* Detalhes do Projeto */
.project-info .title-s {
	color: var(--ng-2);
	font-family: var(--font-1);
	font-size: 1.1rem;
}

/* Texto em baixo do título */
.project-info p {
	margin-top: 2px;
	margin-bottom: 8px;
}



/* -----------------------------------------------------*/
/* ------------->>> Informações da VN <<<--------------*/
/* ---------------------------------------------------*/

/* Caixa de Sinopse */
.sinop-box {
	width: 640px;
	height: 180px;
	max-width: 150%;
	/*border: 1px solid #white; /* Verificar tamanho */
	overflow: auto; /* Ativar barra de rolagem ao passar do limite */
	padding-right: 20px;
}

/* Sinopse */
.sinop-box .sinopse {
	text-align: justify;
	font-size: 18px;
	color: #707070;
}

/* Gêneros */
.vn-tags {
	display: flex;
	max-width: 600px;
	flex-wrap: wrap;
	margin-left: 16px;
}

/* Texto dos gêneros */
.vn-tags p {
	font-family: var(--font-1);
	font-size: 12px;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #383838;
	transition: all .3s ease-in-out;
	cursor: default;
}

@media only screen and (max-width: 1200px )  {
	.sinop-box{
		max-width: 120%;
	/* Basicamente evita que a sinopse atravesse a imagem em telas menores */

	}
}

@media only screen and (max-width: 767px) {
	.sinop-box {
		max-width: 200%;
		/*border: 1px solid #white; /* Verificar tamanho */
		padding-right: 20px;
		height: auto;
	}

	.progress-area {
		margin-right: -55%;
		margin-bottom: 20px;
	}

	/* Texto em baixo do título */
	.project-info p {
		margin-inline-end: -60%;
	}

	.vn-tags {
		margin-inline-end: -60%;
	}

	.btn-download{
		margin-top: 15px;
	}

}


/* -------------------------------------------*/
/* ------------>>> Progresso <<<-------------*/
/* -----------------------------------------*/

/* Espaçamento */
.progress-area {
	position: relative;
	background: var(--border-gradient-onyx);
	padding: 25px;
	padding-bottom: 5px;
	margin-top: 10px;
	border-radius: 14px;
	box-shadow: var(--shadow-2);
	z-index: 1;
}

.progress-area::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: var(--bg-gradient-jet);
	border-radius: inherit;
	z-index: -1;
}

/* Título */
.progress-area .title-s {
	font-size: 16px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 20px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #aaaaaa;
	text-align: left;
	font-family: var(--font-1);
}

/* Barra ao lado do título */
.progress-area .title-s::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: var(--text-gradient-green);
	margin: 4px 10px;
}


@media only screen and (max-width: 767px) {
	.progress-area .title-s::after {
		content: "";
		width: 100px;
		height: 1px;
		display: inline-block;
		background: var(--text-gradient-green);
		margin: 4px 10px;
	}
}

/* Textos das Barras */
.progress-area span {
	color: #fff;
}

/* Porcentagem */
.progress-area .pull-right {
	float: right;
}

/* Barra */
.progress-area .progress .progress-bar {
	height: 0.6rem;
	background: var(--text-gradient-green);
	border-radius: 100px;
}

/* Fundo da Barra */
.progress-area .progress {
	background-color: #333333;
	margin: 0.5rem 0 1.2rem 0;
	border-radius: 100px;
	height: 0.6rem;
}
